html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font: normal 100%/1.5 "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 1.5 rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.container-1 {
  padding: .75rem;
  background-color: #e2e2e2;
  width: 25%;
  float: left;
}

.img1 {
  width: 100px;
  margin: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
